<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col></ion-col>
        <ion-col size="12" size-sm class="ion-align-self-center">
          <img src="../assets/img/logo.png" class="logo">
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>

          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
          <div class="container bootstrap snippets bootdey">

              <ion-row class="row">

                  <ion-col size="12" class="col-sm-6">
                      <ion-row class="panel">
                          <div class="panel-body p-t-10">
                              <div class="media-main">
                                  <a class="pull-left" href="#">
                                      <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                      <div class="userinfo"> 
                                         <div class="name">&nbsp;&nbsp;&nbsp;&nbsp;Abdel Aziz</div>                                         
                                      </div>
                                  </a>

                                  <ion-grid>
                                      <ion-row>
                                          <ion-col class="info">
                                              <h6>Depart</h6>
                                              <p class="text-muted">Ville</p>
                                              <h6>Arriver</h6>
                                              <p class="text-muted">Ville</p>
                                              
                                          </ion-col>
                                          <ion-col class="info">
                                              <h6 class="date"><b> 25 Juin 2022</b></h6>                                            
                                          </ion-col>
                                          <ion-col>
                                              <img src="../assets/img/aircraft.svg" class="aircraft">
                                          </ion-col>
                                        </ion-row>
                                        <hr>
                                        <div class="details">
                                          <ion-row>
                                            <ion-col>
                                              <div class="gris">Date du voyage:</div>
                                            </ion-col>
                                            <ion-col>
                                              <div class="pull-right"><b>25 Juin 2022</b></div>
                                            </ion-col>
                                      </ion-row>
                                      <ion-row>
                                            <ion-col>
                                              <div class="gris">Nombre de kilo:</div>
                                            </ion-col>
                                            <ion-col>
                                              <div class="pull-right"><b>23</b> <img src="../assets/img/kg.png" class="kg"></div> 
                                            </ion-col>
                                      </ion-row>
                                      <ion-row>
                                            <ion-col>
                                              <div class="gris">Prix par kilo:</div>
                                            </ion-col>
                                            <ion-col>
                                              <div class="pull-right"><b>$ 10</b></div>
                                            </ion-col>
                                      </ion-row>
                                      <ion-row>
                                            <ion-col>
                                              <div class="gris">Prix par document:</div>
                                            </ion-col>
                                            <ion-col>
                                              <div class="pull-right"><b>$ 10</b></div>
                                            </ion-col>
                                      </ion-row>
                                      <ion-row>
                                            <ion-col>
                                              Info: Information relative au service
                                            </ion-col>
                                      </ion-row>
                                      <ion-row>
                                            <ion-col>
                                              Paiment: Definir avec le client
                                            </ion-col>
                                      </ion-row>

                                      <ion-row>
                                        <br>
                                        <ion-col size="12"><ion-button type="submit" fill="solid" color="secondary" expand="block" id="login">Se connecter pour contacter Abdel Aziz</ion-button></ion-col>
                                      </ion-row>

                                        </div>
                                  </ion-grid>   
                              </div>  
                          </div>
                      </ion-row>
                      
                  </ion-col>
                   
              </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  
</ion-content>
