<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <ion-content [fullscreen]="true">
    <div id="main-container">
      <ion-header>
        <ion-toolbar>
          <ion-row>
            <ion-col><img (click)="goToHomePage()" class="navbar-brand" src="../assets/img/logo1.png"></ion-col>
            <ion-col> <a class="pull-left navbar-link" (click)="onOpenModal(null!,'add')">Annonce<span class="sr-only"></span></a></ion-col>
            <ion-col>
              <form class=" pull-right form-inline my-2 my-lg-0">
                <input type="search" (ngModelChange)="searchPosts(key.value)" name="key" id="searchName" 
                #key="ngModel" ngModel class="form-control mr-sm-2" placeholder="Recherche...">
              </form>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
  
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col></ion-col>
            <ion-col size="12" size-sm class="ion-align-self-center">
              
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
    
          <ion-row class="ion-align-items-center">
            <ion-col>
  
              <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
              <div class="container bootstrap snippets bootdey">
                  <div class="row">
  
                      <div *ngFor="let post of posts" class="col-sm-6">
                          <div class="panel">
                              <div class="panel-body p-t-10">
                                  <div class="media-main">
                                      <a class="pull-left" href="#">
                                          <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                          <div class="userinfo"> 
                                             <div class="name">&nbsp;&nbsp;&nbsp;&nbsp;Abdel Aziz</div>                                         
                                          </div>
                                      </a>
  
                                      <ion-grid>
                                          <ion-row>
                                              <ion-col class="info">
                                                  <h6>{{post?.countryDeparture}}</h6>
                                                  <p class="text-muted">{{post?.cityDeparture}}</p>
                                                  <h6>{{post?.countryArrival}}</h6>
                                                  <p class="text-muted">{{post?.cityArrival}}</p>
                                              </ion-col>
                                              <ion-col class="info">
                                                  <h6 class="date"><b> {{post?.date}}</b></h6>
                                                  <h6 class="weight"><b>{{post?.weight}} KG</b></h6>
                                                  <h6>$ {{post?.kiloPrice}} / <img src="../assets/img/kg.png" class="kg"></h6>
                                                  <h6>$ {{post?.docPrice}} / <img src="../assets/img/doc.svg" ></h6>
                                              </ion-col>
                                              <ion-col class="info">                                           
                                                  <div class="float-right btn-group btn-group-sm">
                                                    <a (click)="onOpenModal(post,'edit')" class="btn btn-primary tooltips" data-placement="top" data-toggle="modal" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                                                    <a (click)="onOpenModal(post,'delete')" class="btn btn-secondary tooltips" data-placement="top" data-toggle="modal" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                                  </div>
                                              </ion-col>
                                          </ion-row>
                                          <h6 class="text-justify">Info:  {{post?.info}}</h6>
                                      </ion-grid>   
                                  </div>  
                              </div>
                          </div>
                      </div>
                      
                      
                  </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
  
        <!-- Add post Modal -->
        <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addPostModalLabel">Faire une annonce</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddPost(addForm)">
                  <div class="form-group">
                    <label for="countryDeparture">Country Departure </label>
                    <input type="text" ngModel name="countryDeparture" class="form-control" id="countryDeparture" placeholder="Country Departure" required>
                  </div>
                  <div class="form-group">
                    <label class="info" for="cityDeparture">City Departure</label>
                    <input type="text" ngModel name="cityDeparture" class="form-control" id="cityDeparture" placeholder="City Departure" required>
                  </div>
                  <div class="form-group">
                    <label for="countryArrival">Country Arrival</label>
                    <input type="text" ngModel name="countryArrival" class="form-control" id="countryArrival" placeholder="Country Arrival" required>
                  </div>
                  <div class="form-group">
                    <label for="cityArrival">City Arrival</label>
                    <input type="text" ngModel name="cityArrival" class="form-control" id="cityArrival" placeholder="City Arrival" required>
                  </div>
                  <div class="form-group">
                    <label for="weight">Weight</label>
                    <input type="text" ngModel name="weight" class="form-control" id="weight" placeholder="Weight (KG)" required>
                  </div>
                  <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" ngModel name="date" class="form-control" id="date" placeholder="(jj/mm/aaaa)" required>
                  </div>
                  <div class="form-group">
                    <label for="kiloPrice">Prix par kilo</label>
                    <input type="text" ngModel name="kiloPrice" class="form-control" id="kiloPrice" placeholder="Valeur en '$'" required>
                  </div>
                  <div class="form-group">
                    <label for="docPrice">Prix par Document</label>
                    <input type="text" ngModel name="docPrice" class="form-control" id="docPrice" placeholder="Valeur en '$'" required>
                  </div>
                  <div class="form-group">
                    <label for="info">Info</label>
                    <input type="text" ngModel name="info" class="form-control" id="info" placeholder="Info" required>
                  </div>
            
                  <div class="modal-footer">
                    <button type="button" id="add-post-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> 
      
        <!-- Edit Post Modal -->
        <div class="modal fade" id="updatePostModal" tabindex="-1" aria-labelledby="updatePostModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="updatePostModalLabel">Formolaire de modification "{{editPost?.date}}"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form #editForm="ngForm">
                  <div class="form-group">
                    <input type="hidden" ngModel="{{editPost?.id}}" name="id" class="form-control" id="id">
                    <label for="countryDeparture">Country Departure </label>
                    <input type="text" ngModel="{{editPost?.countryDeparture}}" name="countryDeparture" class="form-control" id="countryDeparture" placeholder="Country Departure" required>
                  </div>
                  <div class="form-group">
                    <label for="cityDeparture">City Departure</label>
                    <input type="text" ngModel="{{editPost?.cityDeparture}}" name="cityDeparture" class="form-control" id="cityDeparture" placeholder="City Departure" required>
                  </div>
                  <div class="form-group">
                    <label for="countryArrival">Country Arrival</label>
                    <input type="text" ngModel="{{editPost?.countryArrival}}" name="countryArrival" class="form-control" id="countryArrival" placeholder="Country Arrival" required>
                  </div>
                  <div class="form-group">
                    <label for="cityArrival">City Arrival</label>
                    <input type="text" ngModel="{{editPost?.cityArrival}}" name="cityArrival" class="form-control" id="cityArrival" placeholder="City Arrival" required>
                  </div>
                  <div class="form-group">
                    <label for="weight">Weight</label>
                    <input type="text" ngModel="{{editPost?.weight}}" name="weight" class="form-control" id="weight" placeholder="Weight (KG)" required>
                  </div>
                  <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" ngModel="{{editPost?.date}}" name="date" class="form-control" id="date" placeholder="(01 Janvier)" required>
                  </div>
                  <div class="form-group">
                    <label for="kiloPrice">Prix par kilo</label>
                    <input type="text" ngModel="{{editPost?.kiloPrice}}" name="kiloPrice" class="form-control" id="kiloPrice" placeholder="Valeur en '$'" required>
                  </div>
                  <div class="form-group">
                    <label for="docPrice">Prix par Document</label>
                    <input type="text" ngModel="{{editPost?.docPrice}}" name="docPrice" class="form-control" id="docPrice" placeholder="Valeur en '$'" required>
                  </div>
                  <div class="form-group">
                    <label for="info">Info</label>
                    <input type="text" ngModel="{{editPost?.info}}" name="info" class="form-control" id="info" placeholder="Info" required>
                  </div>
                  <input type="hidden" ngModel="{{editPost?.payment}}" name="payment" class="form-control" id="payment">
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="onUpdatePost(editForm.value)" type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      
        <!-- delete post Modal -->
        <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deletePostModalLabel">Supprimer une annonce</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Etes-vous sur de vouloir supprimer l'annonce du {{deletePost?.date}}?</p>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                  <button (click)="onDeletePost(deletePost.id)" type="button" class="btn btn-primary">Oui</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div *ngIf="posts?.length==0" class="col-lg-12 col-md-12 col-xl-12">
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading"> PAS DE d'ANNONCE</h4>
            <P>Auccune annonce trouvée </P>
          </div>
        </div>

      </div> 
  </ion-content>