<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
  
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col></ion-col>
          <ion-col size="12" size-sm class="ion-align-self-center">
            <img src="../assets/img/logo.png" class="logo">
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
  
        <ion-row class="ion-align-items-center">
          <ion-col>

            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container bootstrap snippets bootdey">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body p-t-0">
                                <div class="input-group">
                                    <input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-effect-ripple btn-primary"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div *ngFor="let post of posts" class="col-sm-6">
                        <div class="panel">
                            <div class="panel-body p-t-10">
                                <div class="media-main">
                                    <a class="pull-left" href="#">
                                        <img class="thumb-lg img-circle bx-s" src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                        <div class="userinfo"> 
                                           <div class="name">&nbsp;&nbsp;&nbsp;&nbsp;Abdel Aziz</div>                                         
                                        </div>
                                    </a>

                                    <ion-grid>
                                        <ion-row>
                                            <ion-col class="info">
                                                <h6>{{post?.countryDeparture}}</h6>
                                                <p class="text-muted">{{post?.cityDeparture}}</p>
                                                <h6>{{post?.countryArrival}}</h6>
                                                <p class="text-muted">{{post?.cityArrival}}</p>
                                                
                                            </ion-col>
                                            <ion-col class="info">
                                                <h6 class="date"><b> {{post?.date}}</b></h6>
                                                <h6>$ {{post?.kiloPrice}} / <img src="../assets/img/kg.png" class="kg"></h6>
                                                <h6>$ {{post?.docPrice}} / <img src="../assets/img/doc.svg" ></h6>
                                               
                                            </ion-col>
                                            <ion-col>
                                                <img src="../assets/img/aircraft.svg" alt="">
                                               <div class="publishTime">Publié il ya 1 heure</div>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>   
                                </div>  
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    
    
  </ion-content>
  